.input-style{
    width:60%;
    height: 33px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 3px;
    
    border-color: rgb(44, 110, 196);
    
}
.btn{
    background-color: #00B4D8 !important;
    color: #CAF0F8 !important;
 margin-left: 18px;
    height: 38px;
    width: 59px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border:none;
    font-family: arial;
    
}
