.App {
  color:#CAF0F8 ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
body{
  background-color:#03045E !important;
}
.white-box{
  height: 400px;
  width: 26%;
  background-color: #CAF0F8;
  border-radius: 8px;
 
  
}
.heading{
  color:#CAF0F8;
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
}